DLT_DESTINATION=duckdb
MAXIO_ENDPOINT=http://localhost:9000
MAXIO_ACCESS_KEY=minioadmin
MAXIO_SECRET_KEY=minioadmin
MAXIO_BUCKET=pharma-prescriber
CLICKHOUSE_HOST=
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
BIGQUERY_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
