[destination.clickhouse.credentials]
host = "YOUR_CLICKHOUSE_HOST"
username = "default"
password = "YOUR_CLICKHOUSE_PASSWORD"

[destination.bigquery.credentials]
project_id = "YOUR_GCP_PROJECT_ID"
client_email = "YOUR_SERVICE_ACCOUNT_EMAIL"
private_key = "YOUR_PRIVATE_KEY"
